.userInfo {
    border: 20px solid black;
    width: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
#spanner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#Midspanner{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#non-spanner{
    text-align: center;
    text-indent: 2%;
}

.flip-card {
    cursor: pointer;
    background: inherit;
    width: 320px;
    height: 100%;
    padding: 8px;
    margin-bottom: 1.2rem;
    color:white;
    box-shadow: inset 0 0 2000px rgba(64, 137, 246, 0.7);
    transition: 200ms ease-out;
}
.flip-card:hover{
    transform: scale(1.05);
    box-shadow: inset 0 0 2000px rgba(64, 137, 246, 1);

}