*{
    margin: auto;
    font-family: "poppins", sans serif;
}


.background{
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/technology-network-background_34629-304.jpg?size=626&ext=jpg");
    background-size: 100% 100%;
    color: white;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5%;
    font-weight: 600;
}

.slogan{
    font-size: 2rem;
    margin-bottom: 15%;
    font-weight: 500;
}

.play{
    font-size: 2rem;
}

.google:hover{
    background-color: #4285f4;
    color: white;
    padding: 1rem;
    width: 15%;
    border-radius: 50px;
    border: 2px solid grey;
    transition: 0.2s ease-in-out;
}

.google{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 1rem;
    min-width: 15%;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    font-size: 1.5rem; 
}