.simpleBorder{
    width:fit-content; 
    background-color: aliceblue;
    padding: 1%;
    border-radius: 2rem;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.26) 3px 3px 3px 3px;
    margin-bottom: 1rem;
}
.react-calendar{
    margin:0 auto;
}
.schedBTN{
    background-color: transparent;
    border: 1px solid black;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding:1%;
}
button{
    cursor: pointer;
}
.slot{
    border: 0px solid black;
    border-radius: 2rem;
    width:20%;
    height:100%;
    margin-bottom:4%;
    padding: 2%;
    background: aliceblue;
    cursor: pointer;
}
#timeList{
    background: transparent;
    border: 0;
    width:50%;
    display: flex;
    cursor: pointer;
}
select:focus{
    outline:none;
}
.scheduler{
    border: 2px solid black;
    background: whitesmoke;
    width: fit-content;
    padding: 4rem;
    border-radius: 40px;
}
fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}