.simpleBorder{
    width:fit-content; 
    background-color: aliceblue;
    padding: 1%;
    border-radius: 2rem;
    border: 1px black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-bottom: 1rem;
}
.react-calendar{
    margin:0 auto;
}
.schedBTN{
    background-color: transparent;
    border: 1px solid black;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding:1%;
}

.slot{
    border: 0px solid black;
    border-radius: 2rem;
    width:20%;
    height:100%;
    margin-bottom:4%;
    padding: 2%;
    background: aliceblue;
}
#timeList{
    background: transparent;
    border: 0;
    width:50%;
    display: flex;
}
select:focus{
    outline:none;
}