
.styled-btn{
    border: 1px solid black;
    font-weight: 900;
    color: blue;
    background-color: antiquewhite;
}
.edit-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.slot{
    border: 1px solid black;
    border-radius: 5%;
    width:100%;
    height:100%;
    margin-bottom:4%;
    background: transparent;
}